

.intro
{
}
@media screen (min-width:1400px )
{

}

@media (max-width: 1200px) {
    .container
    {
        width: 1000px;

    }
    nav ul li
    {

    padding: 0px 10px;;   
 }
 }

@media (max-width: 992px) { 
    .container
    {
        width: 100%;
    }
    .tiles-content
    {
        flex-direction: column;
    }
 }

@media (max-width: 768px) {
    .container
    {


    }

 }
@media (max-width: 576px) { 
    
    nav ul
    {
display: none;
    }
    .container
    {

        /* background: #000; */

    }
}





